


{# Board header template parent section class="board"   #}
<template id="board_header">
    <div class="board-header">
        <span class="board-title"></span>
        <button class="board-add">Add Card</button>
        <button class="board-toggle"><i class="fas fa-chevron-down"></i></button>
    </div>
</template>

{# Board coulumn template  parent: div class="board-columns"    #}
<template id="board_column">
    <div class="board-column">
        <div class="board-column-title"></div>
        <div class="board-column-content">
        </div>
    </div>
</template>

{# Card sample parent:board-column-content #}
<template id="card_sample">
    <div class="card">
        <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
        <div class="card-title"></div>
    </div>
</template>

